<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %></strong> says:</p>
  </p>

  <p>
   <i> <%= comment.body %></i>
  </p>

    <% if comment.user == current_user || current_user.admin? %>
      <%= link_to "Delete Comment", [comment.article, comment], method: :delete, data: {
                turbo_confirm: "Are you sure?"
              } %>
    <% end %>


<% end %>
