<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.username %></strong> says:</p>
  </p>

  <p>
   <i> <%= comment.body %></i>
  </p>

  <% if user_signed_in? && current_user.admin? %>
<%= link_to "Delete Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>



  <% end %>
    <hr>
<% end %>
