<section id="about">
<div class="container">
  <h1>Fully responsive navigation</h1>
  <p>Mobile hamburger menu with css3 animations, animated links on hover, hide navigation on scroll down / show on scroll up (<a href="https://medium.com/@mariusc23/hide-header-on-scroll-down-show-on-scroll-up-67bbaae9a78c#.xnr8amvlw">credit to Marius Craciunoiu</a>)</p>
  <p class="signature">Made with ♥ by <a href="http://www.palmeratech.com/"> Hanaley Mosleygit </a></p>
  </div>
</section>

<section id="exp">
  <div class="container">
  <h1>Resume</h1></div>
</section>

<section id="skills">
  <div class="container">
  <h1>skills</h1></div>
</section>

<section id="projects">
  <div class="container">
  <h1>projects</h1></div>
</section>

<section id="contact">
  <div class="container">
  <h1>contact</h1></div>
</section>

<div class="container">
  <h1>Todos los artículos</h1>
  <% if user_signed_in? %>
    <p>Hi <b><%= current_user.username %></b>, you're registered as  <b><%= current_user.role %></b> in La Central</p>
  <% end %>

  <ol>
    <% @articles.each do |article| %>
      <li><%= link_to article.title, article %></li>
    <% end %>
  </ol>

  <% if user_signed_in? && current_user.publisher? %>
    <%= link_to "Add Article", new_article_path %>
  <% end %>

</div>
