@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "pages/index";
@import "components/index";
@import "skins/index";

* {
  box-sizing: border-box;
}
body {
  padding-top: 34px;
  background-color: #ffffff;
  font-family: 'Lexend';
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333333;
}
a:hover {
  color: #10303a;
}

section {
  padding-left: 50px;
  padding-right: 50px;
  height: 100vh;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
  }
}
